name: asst3-coremap
print_name: ASST3-coremap
description: >
  In this assignment you will add support for virtual memory to your OS/161
  kernel. This target tests your coremap and kernel memory allocator.
version: 1
points: 100
type: asst
kconfig: ASST3
tests:
  - id: coremap/not-dumbvm.t
    points: 20
  - id: coremap/km1.t
    points: 10
    mem_leak_points: 2
  - id: coremap/km2.t
    points: 10
    mem_leak_points: 2
  - id: coremap/km3.t
    points: 10
    mem_leak_points: 2
  - id: coremap/km4.t
    points: 25
    mem_leak_points: 2
  - id: coremap/coremap-loose.t
    points: 10
  - id: coremap/coremap-tight.t
    points: 15
